/blib/
/.build/
_build/
cover_db/
depends/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
/ndtools_[0-9]*
nytprof.out
/pm_to_blib
*.o
*.bs
/_eumm/
*.swp
lib/App/NDTools/INC/
